<div class="flex justify-center w-full h-screen">
  <div class="flex-col">
    <%= form_with model: @user do |f| %>
      <div class="my-5">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>
      <div class="my-5">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="my-5">
        <%= f.submit t('.update'), class: "btn" %>
      </div>
    <% end %>
  </div>
</div>