<div class="mr-3 mb-5 rounded-md shadow-md bg-white hover:bg-yellow-100">
  <a href="/reviews/<%= review.id %>">
    <div class="flex">
      <div class="w-32 h-32 m-5">
        <% if review.image.attached? %>
          <%= image_tag review.image, class: "object-cover w-32 h-32 rounded-md" %>
        <% else %>
          <%= image_tag asset_path("image.png"), class: "object-contain w-32 h-32 rounded-md bg-zinc-200" %>
        <% end %>
      </div>

      <div class="flex flex-col w-3/5 p-5">
        <p><%= review.maker %></p>
        <h2 class="mb-2 font-semibold"><%= review.name %></h2>
        <div class="flex rating mb-5">
          <% review.rating.times do %>
            <div class="w-5 h-5 mask mask-star bg-orange-400"></div>
          <% end %>
        </div>
        <div class="w-full h-24 rounded-md p-3 bg-zinc-300">
          <p class="line-clamp-3 whitespace-pre-line"><%= review.body %></p>
        </div>
        <div class="flex mt-5 space-x-4 items-center">
          <% if review.user.avatar.attached? %>
            <%= image_tag url_for(review.user.avatar), class: "object-cover w-8 h-8 rounded-full"%>
          <% else %>
            <%= image_tag asset_path("default.png"), class: "object-cover w-8 h-8 rounded-full"%>
          <% end %>

          <p><%= review.user.name %></p>
        </div>
      </div>
    </div>
  </a>
</div>
