<div class="container mx-auto w-full min-h-screen px-8 py-14">
  <%= form_with model: @review do |f| %>
    <div class="flex justify-center mx-auto md:space-x-32 max-sm:flex-col">
      <div class="max-sm:max-w-80 max-sm:w-full max-sm:mx-auto">
        <%= image_tag asset_path("image.png"), class: "object-contain max-w-80 max-h-80 rounded-md bg-zinc-200" %>
        <div class="py-5">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>

      <div class="max-sm:max-w-80 max-sm:w-full max-sm:mx-auto">
        <div class="my-5">
          <%= f.label :maker%>
          <%= f.text_field :maker %>
        </div>
        <div class="my-5">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="my-5">
          <%= f.label :rating %>
          <div class="rating">
            <%= f.radio_button :rating, 0, class: "rating-hidden", checked: true %>
            <%= f.radio_button :rating, 1, class: "mask mask-star bg-orange-400" %>
            <%= f.radio_button :rating, 2, class: "mask mask-star bg-orange-400" %>
            <%= f.radio_button :rating, 3, class: "mask mask-star bg-orange-400" %>
            <%= f.radio_button :rating, 4, class: "mask mask-star bg-orange-400" %>
            <%= f.radio_button :rating, 5, class: "mask mask-star bg-orange-400" %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col my-10 max-sm:w-full max-sm:mx-auto">
      <%= f.text_area :body, class: "textarea textarea-bordered min-h-96 w-full lg:w-3/4 mx-auto", placeholder: t('.review') %>
      <div class="mx-auto my-10">
        <%= f.submit t('.create'), class: "btn bg-stone-300" %>
      </div>
    </div>
  <% end %>
</div>