<div class="container mx-auto w-full min-h-screen px-8 py-14 max-sm:py-10">
  <div class="w-3/4 mx-auto mb-5">
    <%= link_to user_path(@review.user.id), class: "flex space-x-3 items-center" do%>
      <% if @review.user.avatar.attached? %>
        <%= image_tag url_for(@review.user.avatar), class: "object-cover w-12 h-12 rounded-full" %>
      <% else %>
        <%= image_tag asset_path("default.png"), class: "object-cover w-12 h-12 rounded-full" %>
      <% end %>

      <p><%= @review.user.name %></p>
    <% end %>
  </div>

  <div class="flex justify-around md:space-x-30 max-sm:flex-col">
    <div>
      <% if @review.image.attached? %>
        <%= image_tag @review.image, class: "object-cover max-w-80 max-h-80" %>
      <% else %>
        <%= image_tag asset_path("image.png"), class: "object-contain max-w-80 w-full max-h-80 rounded-md bg-zinc-200 max-sm:mx-auto" %>
      <% end %>
    </div>

    <div class="max-sm:max-w-80 max-sm:w-full max-sm:mx-auto">
      <div class= "my-5 md:space-x-5 md:flex">
        <p><%= t('.maker') %></p>
        <p><%= @review.maker %></p>
      </div>
      <div class= "my-5 md:space-x-5 md:flex">
        <p><%= t('.name') %></p>
        <p><%= @review.name %></p>
      </div>
      <div class= "mb-5 md:space-x-5 md:flex">
        <p><%= t('.rating') %></p>
        <div class="flex rating">
          <% @review.rating.times do %>
            <div class="w-5 h-5 mask mask-star bg-orange-400"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full sm:w-3/4 mx-auto mt-10">
    <p><%= t('.review') %></p>
    <p class="w-full bg-white p-8 whitespace-pre-line"><%= @review.body %></p>
  </div>

  <% if current_user.present? && @review.user.id == current_user.id %>
    <div class="flex justify-around my-10">
      <%= link_to t('.edit'), edit_review_path(@review), class: "btn btn-primary" %>
      <%= link_to t('.delete'), review_path(@review), data: { turbo_method: :delete }, class: "btn btn-secondary" %>
    </div> 
  <% end %>
</div>