<div class="container mx-auto w-full h-screen px-8 py-14">
  <div class="w-3/4 mx-auto mb-5">
    <%= link_to user_path(@review.user.id), class: "flex space-x-3 items-center" do%>
      <% if @review.user.avatar.attached? %>
        <%= image_tag url_for(@review.user.avatar), class: "object-cover w-12 h-12 rounded-full" %>
      <% else %>
        <%= image_tag asset_path("default.png"), class: "object-cover w-12 h-12 rounded-full" %>
      <% end %>

      <p><%= @review.user.name %></p>
    <% end %>
  </div>

  <div class="flex justify-center space-x-40">
    <div class="w-80 h-80">
      <% if @review.image.attached? %>
        <%= image_tag @review.image, class: "w-80 h-80" %>
      <% else %>
        <div class="w-full h-full bg-slate-400"></div>
      <% end %>
    </div>

    <div class="w-96 h-96">
      <div class= "my-5">
        <p>メーカー</p>
        <p><%= @review.maker %></p>
      </div>
      <div class= "my-5">
        <p>名前</p>
        <p><%= @review.name %></p>
      </div>
      <div class= "mb-5">
        <p>評価</p>
        <div class="flex rating">
          <% @review.rating.times do %>
            <div class="w-5 h-5 mask mask-star bg-orange-400"></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="w-3/4 mx-auto">
    <p>レビュー</p>
    <p class="w-full h-32 bg-stone-200"><%= @review.body %></p>
  </div>

  <div class="flex justify-around my-10">
    <%= link_to "編集", edit_review_path(@review), class: "btn btn-primary" %>
    <%= link_to "削除", review_path(@review), data: { turbo_method: :delete }, class: "btn btn-secondary" %>
  </div> 
</div>